<!DOCTYPE html>
<!--Annelise Trout 5/27/2019-->
<html lang="en">
<head>
	<title>Women in Computing | Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/styles01.css">
	<link rel="icon" href="../favicon.ico">
</head>

<body>
	<header>
		
	</header>
	
	<nav>
		<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="eboard.html">E-Board</a></li>
		<li><a href="events.html">Events</a></li>
		<li><a href="contact.html">Contact</a></li>		
		</ul>
	</nav>
	
	<div id="outerwrapper">
	
	<div id="main">
		
		<!--START MOBILE-->
		<div class="mobile">
			<h1>Page Title</h1>
		</div>
		<!--END MOBILE-->
		
		<!--START TABLET-->
		<div class="tablet">
			
		</div>
		<!--END TABLET-->
		
		<!--START DESKTOP-->
		<div class="desktop">
			
		</div>
		<!--END DESKTOP-->
		
	</div>
	<!--end main-->
	
	<footer>
		<p>&copy;Women in Computing, 2019</p>
	</footer>
	
	</div>
	<!--end outerwrapper-->
</body>
</html>