<!DOCTYPE html>
<!--Annelise Trout 6/14/2019-->
<html lang="en">
<head>
	<title>Women in Computing | Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/styles01.css">
	<link rel="icon" href="#">
</head>

<body>
	<header>
		
	</header>
	
	<nav>
		<figure>
		<a href="index.html"><img class="nav_icon" src="../images/icons/nav/home1.png" alt="home icon"></a>
		<a href="eboard.html"><img class="nav_icon" src="../images/icons/nav/eboard1.png" alt="person icon"></a>
		<a href="events.html"><img class="nav_icon" src="../images/icons/nav/calendar1.png" alt="calendar icon"></a>
		<a href="community.html"><img class="nav_icon" src="../images/icons/nav/photos1.png" alt="photo icon"></a>
		<a href="contact.html"><img class="nav_icon" src="../images/icons/nav/contact1.png" alt="email icon"></a>
		</figure>
	</nav>
	
	<div id="outerwrapper">
	
	<div id="main">
		
		<!--START MOBILE-->
		<div class="mobile">
			<h1>Page Title</h1>
		</div>
		<!--END MOBILE-->
	
		<!--START DESKTOP-->
		<div class="desktop">
			
		</div>
		<!--END DESKTOP-->
		
	</div>
	<!--end main-->
	
	<footer>
		<p>&copy;Women in Computing, 2019</p>
	</footer>
	
	</div>
	<!--end outerwrapper-->
</body>
</html>